<app-header></app-header>
<div class="container">
  <div class="row">
    <app-card class="col-md-4" *ngFor="let book of listOfBooks" [name]="book.title" [desc]="book.description"></app-card>
  </div>
</div>